---
title: My website with some React
layout: cover
permalink: ./site/index.html
---
<p>I'm a real website with HTML markup and everything! No app framework was used to develop this website.</p>
<p>If JavaScript fails to load, I'm still a working website! And if JavaScript loads, you've also got a button rendered by React.</p>
<p>When you click the button, it will calculate the sum of two numbers using a function from our library.</p>
<script src="/js/app.js" async defer></script>
